<a href="https://colab.research.google.com/github/EliasGabriel1/ProjetoUmBrasilMelhor/blob/main/B%C3%A1sicoPandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [141]:
##Usando o básico de pandas para visualização de dados
#Veja sobre logica básica com pandas antes de vir para cá.

#Toda vez que vamos importar algo no python ou em notebooks como o google colab ou o Jupyter Notebook
#usamos o import *biblioteca as(como) colocamos uma sigla que usaremos toda vez que chamamos a biblioteca

import pandas as pd

In [142]:
#Como explicado no readme aqui puxaremos o arquivo do tipo csv, ou outro tipo como read csv, read table, read picke, read fwf ou qualquer outra forma,
#conferir nessa parte da documentação: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_pickle.html
#lembrando que pra cada tipo de arquivo muitas vezes precisa usar o encoding para poder entrar no arquivo
#desta maneira: pd.read_csv('nome_do_arquivo.csv', encoding='ISO-8859-1')
#aqui usaremos o read_table pois pode fazer com que você leia o arquivo delimitado geral no DataFrame.

data = pd.read_table('http://bit.ly/chiporders')

In [143]:
#Toda vez que temos um DataFrame e queremos ver o que tem nele, vemos as primeiras linhas do DataFrame e/ou as últimas
#pensando no inglês básico, head significa cabeça e tail calda, pensando no DF(DataFrame) como um um ser, entendemos que as primeiras linhas é a cabeça e as
#últimas a calda.
#seguindo assim

data.head(15)
#deixando apenas assim, tras os 5 primeiros, mas pode trazer mais, pondo entre os parenteses quais os primeiros que você quer assim head(15) contando do 0

    order_id  ...  item_price
0          1  ...      $2.39
1          1  ...      $3.39
2          1  ...      $3.39
3          1  ...      $2.39
4          2  ...     $16.98
5          3  ...     $10.98
6          3  ...      $1.69
7          4  ...     $11.75
8          4  ...      $9.25
9          5  ...      $9.25
10         5  ...      $4.45
11         6  ...      $8.75
12         6  ...      $8.75
13         7  ...     $11.25
14         7  ...      $4.45

[15 rows x 5 columns]

In [144]:
data.tail(15)

      order_id  ...  item_price
4607      1829  ...     $11.75
4608      1829  ...     $11.25
4609      1829  ...      $1.25
4610      1830  ...     $11.75
4611      1830  ...     $11.25
4612      1831  ...      $9.25
4613      1831  ...      $2.15
4614      1831  ...      $1.50
4615      1832  ...      $8.75
4616      1832  ...      $4.45
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[15 rows x 5 columns]

In [145]:
#Quando queremos pegar uma coluna em especifico e não sabemos o nome dela, primeiro vemos todas 
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [146]:
#Escolhendo a coluna podemos ver todos os itens dando um head na coluna
data.item_name.head(10)

0             Chips and Fresh Tomato Salsa
1                                     Izze
2                         Nantucket Nectar
3    Chips and Tomatillo-Green Chili Salsa
4                             Chicken Bowl
5                             Chicken Bowl
6                            Side of Chips
7                            Steak Burrito
8                         Steak Soft Tacos
9                            Steak Burrito
Name: item_name, dtype: object

In [43]:
data.choice_description.head(10)

0                                                  NaN
1                                         [Clementine]
2                                              [Apple]
3                                                  NaN
4    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
5    [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...
6                                                  NaN
7    [Tomatillo Red Chili Salsa, [Fajita Vegetables...
8    [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...
9    [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...
Name: choice_description, dtype: object

In [191]:
#No python podemos fazer isso:
a='cachorro'
c='1,99'
a+ " "+ c

#sendo isso uma contatenação de string(produtos não inteiros)

'cachorro 1,99'

In [147]:
#podemos também juntar dois dados numa analise para saber os preços de cada produto, concatenando-os desta forma:
data.item_name+"  "+data.item_price

0                Chips and Fresh Tomato Salsa  $2.39
1                                        Izze  $3.39
2                            Nantucket Nectar  $3.39
3       Chips and Tomatillo-Green Chili Salsa  $2.39
4                               Chicken Bowl  $16.98
                            ...
4617                           Steak Burrito  $11.75
4618                           Steak Burrito  $11.75
4619                      Chicken Salad Bowl  $11.25
4620                       Chicken Salad Bowl  $8.75
4621                       Chicken Salad Bowl  $8.75
Length: 4622, dtype: object

In [148]:
#Podemos mudar o nome das colunas se assim quisermos como:
data.rename(columns = {'order_id':'id','quantity':'qtd','item_name':'name','choice_description':'descricao','item_price':'preco'}, inplace = True)

In [149]:
#Se der um head no DF, agora podemos ver que os nomes das colunas mudaram 
data.head()

   id  qtd  ...                                          descricao    preco
0   1    1  ...                                                NaN   $2.39
1   1    1  ...                                       [Clementine]   $3.39
2   1    1  ...                                            [Apple]   $3.39
3   1    1  ...                                                NaN   $2.39
4   2    2  ...  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...  $16.98

[5 rows x 5 columns]

In [150]:
#Podemos tirar linhas que não queremos ver, assim:
data.drop([0, 1]).head(5)

   id  qtd  ...                                          descricao    preco
2   1    1  ...                                            [Apple]   $3.39
3   1    1  ...                                                NaN   $2.39
4   2    2  ...  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...  $16.98
5   3    1  ...  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...  $10.98
6   3    1  ...                                                NaN   $1.69

[5 rows x 5 columns]

In [151]:
#Podemos tirar colunas também que não queremos ver, assim:
data.drop('descricao', axis=1)

        id  qtd                                   name    preco
0        1    1           Chips and Fresh Tomato Salsa   $2.39
1        1    1                                   Izze   $3.39
2        1    1                       Nantucket Nectar   $3.39
3        1    1  Chips and Tomatillo-Green Chili Salsa   $2.39
4        2    2                           Chicken Bowl  $16.98
...    ...  ...                                    ...      ...
4617  1833    1                          Steak Burrito  $11.75
4618  1833    1                          Steak Burrito  $11.75
4619  1834    1                     Chicken Salad Bowl  $11.25
4620  1834    1                     Chicken Salad Bowl   $8.75
4621  1834    1                     Chicken Salad Bowl   $8.75

[4622 rows x 4 columns]

In [152]:
#Para sabermos a média, mediana, e outros casos podemos dar um describe,Gerando estatísticas descritivas.
#As estatísticas descritivas incluem aquelas que resumem a tendência central, a dispersão e a forma da distribuição de um conjunto de dados,
#excluindo os NaNvalores.
#Analisa séries numéricas e de objetos, bem como DataFrameconjuntos de colunas de tipos de dados mistos. 
#A saída irá variar dependendo do que é fornecido. Consulte as notas abaixo para obter mais detalhes.

data.describe()

                id          qtd
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [153]:
#para sabermos os valores de forma separada, só passarmos a descrição como DataFrame.count, DataFrame.max, DataFrame.min, DataFrame.mean, 
#DataFrame.std e DataFrame.select_dtypes
#Desta maneira dando o número de observações não NA / nulas:
data.count()

id           4622
qtd          4622
name         4622
descricao    3376
preco        4622
dtype: int64

In [154]:
#quando precisamos saber a quantidade de linhas que possui o Data frame damos o df.index e assim passará o índice (rótulos de linha) do DataFrame.
data.index

RangeIndex(start=0, stop=4622, step=1)

In [155]:
#Para sabermos a dimensão da df, sabendo a quantidade de linhas e colunas respecitivamente, vemos assim, df.shape:
data.shape

(4622, 5)

In [156]:
#Pressupondo que precisamos fazer um relatório para falar o preço mais baixo de algum item ou mais alto, passamos a dataframe.min() 
#ou para o mais alto, df.max()
data.min()

id                       1
qtd                      1
name     6 Pack Soft Drink
preco               $1.09
dtype: object

In [157]:
#como falado para sabermos o produto com maior valor damos o max()
data.max()

id                    1834
qtd                     15
name     Veggie Soft Tacos
preco               $9.39
dtype: object

In [158]:
#No relatório queremos saber a média de quantidade de produto que saiu e das médias de todas colunas, e podemos ver pela função mean.
data.mean()

id     927.254868
qtd      1.075725
dtype: float64

In [172]:
#Mas não precisamos da média da coluna id, mas podemos passar só na coluna "qtd", passando dessa forma:
data['qtd'].mean()

1.0757247944612722

In [160]:
#podemos perguntar para o dataframe qual o valor de toda linha 1(lembrando que a conta da df começa no 0),
data.loc[1]

id                      1
qtd                     1
name                 Izze
descricao    [Clementine]
preco              $3.39
Name: 1, dtype: object

In [161]:
#Ou melhor podemos perguntar o preço do produto da linha 100, passando o número da linha e a o nome da coluna assim:
data.loc[1000,"preco"]

'$8.49 '

In [162]:
# E também posso pedir mais de uma linha, adicionando quais as linhas colocando dentro de chaves e também passando a coluna
data.loc[[20,1000],"preco"]

20      $4.45
1000    $8.49
Name: preco, dtype: object

In [163]:
#Ou melhor pedindo um espaço de linhas como por exemplo da linha 20 até a linha 50 da coluna preco
data.loc[20:50,'preco']

20     $4.45
21     $8.99
22     $3.39
23    $10.98
24     $3.39
25     $2.39
26     $8.49
27     $8.99
28     $1.09
29     $8.49
30     $2.39
31     $8.99
32     $1.69
33     $8.99
34     $1.09
35     $8.75
36     $8.75
37     $4.45
38     $2.95
39    $11.75
40     $2.15
41     $4.45
42    $11.25
43    $11.75
44     $8.75
45    $10.98
46     $8.99
47     $3.39
48     $8.99
49     $3.99
50     $8.99
Name: preco, dtype: object

In [164]:
#novamente do item número 20 até o 50, mas agora com todos os dados, menos a tabela descricao
data.loc[20:50].drop('descricao', axis=1)

    id  qtd                                   name    preco
20  10    1                    Chips and Guacamole   $4.45
21  11    1                       Barbacoa Burrito   $8.99
22  11    1                       Nantucket Nectar   $3.39
23  12    1                        Chicken Burrito  $10.98
24  12    1                                   Izze   $3.39
25  13    1           Chips and Fresh Tomato Salsa   $2.39
26  13    1                           Chicken Bowl   $8.49
27  14    1                       Carnitas Burrito   $8.99
28  14    1                            Canned Soda   $1.09
29  15    1                        Chicken Burrito   $8.49
30  15    1  Chips and Tomatillo-Green Chili Salsa   $2.39
31  16    1                          Steak Burrito   $8.99
32  16    1                          Side of Chips   $1.69
33  17    1                          Carnitas Bowl   $8.99
34  17    1                          Bottled Water   $1.09
35  18    1                     Chicken Soft Tacos   $8.75
36  18    1                     Chicken Soft Tacos   $8.75
37  18    1                    Chips and Guacamole   $4.45
38  18    1  Chips and Tomatillo Green Chili Salsa   $2.95
39  19    1                          Barbacoa Bowl  $11.75
40  19    1                                  Chips   $2.15
41  20    1                    Chips and Guacamole   $4.45
42  20    1                           Chicken Bowl  $11.25
43  20    1                          Steak Burrito  $11.75
44  20    1                     Chicken Salad Bowl   $8.75
45  21    1                        Chicken Burrito  $10.98
46  21    1                          Steak Burrito   $8.99
47  21    1                                   Izze   $3.39
48  22    1                          Steak Burrito   $8.99
49  22    1                    Chips and Guacamole   $3.99
50  23    1                          Steak Burrito   $8.99

In [167]:
#Já finalizando podemos ver os valores ordenando por valor do preços da tabela preco ou se quiser por outra tabela ordenando por VALORES, é só ordenar
#por outra tabela de NÚMEROS.

data.sort_values('preco')

        id  qtd  ...                                          descricao   preco
261    113    1  ...                                     [Mountain Dew]  $1.09
1805   730    1  ...                                           [Sprite]  $1.09
1030   424    1  ...                                  [Diet Dr. Pepper]  $1.09
3020  1201    1  ...                                  [Diet Dr. Pepper]  $1.09
3021  1201    1  ...                                                NaN  $1.09
...    ...  ...  ...                                                ...     ...
4547  1807    1  ...  [Roasted Chili Corn Salsa, [Fajita Vegetables,...  $9.39
4391  1752    1  ...  [Fresh Tomato Salsa, [Black Beans, Pinto Beans...  $9.39
2600  1032    1  ...  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...  $9.39
4241  1693    1  ...  [Roasted Chili Corn Salsa, [Fajita Vegetables,...  $9.39
4390  1751    1  ...  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...  $9.39

[4622 rows x 5 columns]

In [170]:
#Tenho o costume de apresentar as 10 primeiras do df e as 10 últimas, pois apresenta uma maior quantidade dos últimos e dos primeiros dados, já tirando a tabela 
#descricao assim:
data.sort_values("preco").head(10).drop('descricao', axis=1)

        id  qtd           name   preco
261    113    1    Canned Soda  $1.09
1805   730    1    Canned Soda  $1.09
1030   424    1    Canned Soda  $1.09
3020  1201    1    Canned Soda  $1.09
3021  1201    1  Bottled Water  $1.09
434    188    1    Canned Soda  $1.09
107     47    1    Canned Soda  $1.09
438    190    1    Canned Soda  $1.09
195     87    1    Canned Soda  $1.09
4008  1604    1    Canned Soda  $1.09

In [171]:
data.sort_values("preco").tail(10).drop('descricao', axis=1)

        id  qtd                 name   preco
4419  1762    1     Steak Salad Bowl  $9.39
4036  1615    1     Steak Salad Bowl  $9.39
607    250    1     Steak Salad Bowl  $9.39
1418   576    1  Barbacoa Salad Bowl  $9.39
1421   576    1  Barbacoa Salad Bowl  $9.39
4547  1807    1     Steak Salad Bowl  $9.39
4391  1752    1     Steak Salad Bowl  $9.39
2600  1032    1     Steak Salad Bowl  $9.39
4241  1693    1     Steak Salad Bowl  $9.39
4390  1751    1  Barbacoa Salad Bowl  $9.39

In [181]:
#Sabendo que os valores de preço é float, como vou encontrar a média dos valores sendo que o .mean não separa a tag $ dos números?
#simples ordenando os valores da tabela preco do menor pro maior e vendo os valores do meio, sabendo que  a tabela tem 4622 linhas,
#podemos dividir por 2 e pegar o valor do meio 2311, o anterior e o proximo, assim teremos o valor aproximado do preço médio
data.loc[[2310,2311,2312]].sort_values('preco')

       id  qtd  ...                                          descricao   preco
2311  926    1  ...  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...  $8.75
2312  926    1  ...              [Fresh Tomato Salsa, [Rice, Lettuce]]  $8.75
2310  926    1  ...  [Roasted Chili Corn Salsa, [Rice, Cheese, Sour...  $9.25

[3 rows x 5 columns]

In [188]:
#Seguindo os passos podemos fazer na mão a média dos valores, usando o print do python tradicional, assim:
x=(8.75+8.75+9.25)/3
print(x)

#desta forma sabemos a média aproximada dos preços

8.916666666666666